In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [4]:
df = pd.read_csv('Dataset.csv')

In [5]:
df.head

<bound method NDFrame.head of          Unnamed: 0  Hour     HR  O2Sat  Temp    SBP   MAP   DBP  Resp  EtCO2  \
0                 0     0    NaN    NaN   NaN    NaN   NaN   NaN   NaN    NaN
1                 1     1   65.0  100.0   NaN    NaN  72.0   NaN  16.5    NaN
2                 2     2   78.0  100.0   NaN    NaN  42.5   NaN   NaN    NaN
3                 3     3   73.0  100.0   NaN    NaN   NaN   NaN  17.0    NaN
4                 4     4   70.0  100.0   NaN  129.0  74.0  69.0  14.0    NaN
...             ...   ...    ...    ...   ...    ...   ...   ...   ...    ...
1552205          21    21   83.0   99.0   NaN  121.0  77.0  54.0  22.0    NaN
1552206          22    22   80.0   92.0   NaN  102.0  73.0  51.0  24.0    NaN
1552207          23    23   95.0   97.0  36.7  128.5  83.0  58.5  25.0    NaN
1552208          24    24  104.0   99.0   NaN  127.0  85.0  59.0  24.0    NaN
1552209          25    25   94.5   99.0   NaN  112.0  81.0  56.0  22.0    NaN

         ...  Fibrinogen  Platelets    Age  Gender  Unit1  Unit2  HospAdmTime  \
0        ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
1        ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
2        ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
3        ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
4        ...         NaN      330.0  68.54       0    NaN    NaN        -0.02
...      ...         ...        ...    ...     ...    ...    ...          ...
1552205  ...         NaN        NaN  88.00       0    1.0    0.0        -2.93
1552206  ...         NaN        NaN  88.00       0    1.0    0.0        -2.93
1552207  ...         NaN        NaN  88.00       0    1.0    0.0        -2.93
1552208  ...         NaN        NaN  88.00       0    1.0    0.0        -2.93
1552209  ...         NaN        NaN  88.00       0    1.0    0.0        -2.93

         ICULOS  SepsisLabel  Patient_ID
0             1            0       17072
1             2            0       17072
2             3            0       17072
3             4            0       17072
4             5            0       17072
...         ...          ...         ...
1552205      22            0      113911
1552206      23            0      113911
1552207      24            0      113911
1552208      25            0      113911
1552209      26            0      113911

[1552210 rows x 44 columns]>

In [6]:
df.shape

(1552210, 44)

In [7]:
df.size

68297240

In [8]:
df = pd.read_csv('Dataset.csv'); print('Target distribution:'); print(df['SepsisLabel'].value_counts()); print(f'Sepsis rate: {df[\"SepsisLabel\"].mean():.3f}'); print(f'Missing values per column:'); print(df.isnull().sum().sort_values(ascending=False).head(10))

SyntaxError: unexpected character after line continuation character (1390317063.py, line 1)

In [9]:
fru = df.head(40000)
print (fru)

       Unnamed: 0  Hour    HR  O2Sat   Temp    SBP   MAP   DBP  Resp  EtCO2  \
0               0     0   NaN    NaN    NaN    NaN   NaN   NaN   NaN    NaN
1               1     1  65.0  100.0    NaN    NaN  72.0   NaN  16.5    NaN
2               2     2  78.0  100.0    NaN    NaN  42.5   NaN   NaN    NaN
3               3     3  73.0  100.0    NaN    NaN   NaN   NaN  17.0    NaN
4               4     4  70.0  100.0    NaN  129.0  74.0  69.0  14.0    NaN
...           ...   ...   ...    ...    ...    ...   ...   ...   ...    ...
39995           5     5  97.5   97.0  37.17   92.0  66.5  52.0  13.0    NaN
39996           6     6  97.0   97.0    NaN   82.5  58.0  47.5  12.0    NaN
39997           7     7  94.0   97.0    NaN   80.0  56.0  46.0  12.0    NaN
39998           8     8  94.5   97.0    NaN   74.0  52.0  43.0  13.0    NaN
39999           9     9  91.0   97.0    NaN   76.0  52.0  41.0  13.0    NaN

       ...  Fibrinogen  Platelets    Age  Gender  Unit1  Unit2  HospAdmTime  \
0      ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
1      ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
2      ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
3      ...         NaN        NaN  68.54       0    NaN    NaN        -0.02
4      ...         NaN      330.0  68.54       0    NaN    NaN        -0.02
...    ...         ...        ...    ...     ...    ...    ...          ...
39995  ...         NaN        NaN  74.73       0    NaN    NaN        -7.39
39996  ...         NaN        NaN  74.73       0    NaN    NaN        -7.39
39997  ...         NaN        NaN  74.73       0    NaN    NaN        -7.39
39998  ...         NaN        NaN  74.73       0    NaN    NaN        -7.39
39999  ...         NaN      195.0  74.73       0    NaN    NaN        -7.39

       ICULOS  SepsisLabel  Patient_ID
0           1            0       17072
1           2            0       17072
2           3            0       17072
3           4            0       17072
4           5            0       17072
...       ...          ...         ...
39995       6            0        9851
39996       7            0        9851
39997       8            0        9851
39998       9            0        9851
39999      10            0        9851

[40000 rows x 44 columns]

In [10]:
fru.to_csv('fru.csv', index=False)